.detalle-producto img {
  max-height: 100%;
  object-fit: cover;
}

.precios span {
  font-size: .9rem;
}


.cantidad-btn {
  background: none;
  border: none;
  font-size: 1.4rem;
  color: #333;
  padding: 3px 8px;
  cursor: pointer;
}

.cantidad-btn:hover {
  background: #f0f0f0;
 
}

.cantidad-btn:focus {
  outline: none;
  box-shadow: none;
}

.cantidad-box {
  border: 1px solid #cccccc94;
  border-radius: 5px;
  width: 35%;
  
}

.boton-animado {
  position: relative;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  font-weight: bold;
  letter-spacing: 0.5px;
  border-radius: 8px;
  
}

.boton-animado:hover {
 
  transform: scale(1.01);
  box-shadow: 0 6px 16px rgba(16, 193, 66, 0.438);
}


