<section class="container my-5 p-0 ">
 

  <div [id]="carouselId" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
  <div
    class="carousel-item"
    *ngFor="let grupo of gruposProductos; let i = index"
    [class.active]="i === 0"
  >
    <div class="d-flex productos-slide">
      <div
        routerLink=""
        class="producto-card"
        *ngFor="let producto of grupo"
      >
        <div class="card d-flex flex-column h-100" >
          <span class="descuento-badge">-{{ producto.descuento }}</span>
          <img [src]="producto.img" class="img-fluid rounded" [alt]="producto.nombre" [routerLink]="['/', producto.categoria, generarSlugConId(producto)]"/>
          <div class="card-body-custom d-flex flex-column  justify-content-between">
            <div class="contenido-scrollable"> 
                <span class="marca-badge">{{ producto.tienda }}</span>         
              <h6 class="fw-bold">{{producto.titulo}}</h6>
              <s class="text-body-tertiary">S/.{{ producto.precio_antes }}.00</s>
              <p class="fw-semibold mb-2">S/.{{ producto.precio }}.00</p>
            </div>
          <button class="btn boton-agregar btn-sm w-100 p-2" (click)="AgregarCarrito(producto)">AGREGAR</button> 
          </div>
         
        </div>
      </div>
    </div>
  </div>
</div>


    <!-- Controles -->
    <!-- Botón anterior -->
<button class="carousel-control-prev d-none d-md-block" type="button" [attr.data-bs-target]="'#' + carouselId" data-bs-target="#carouselProductos" data-bs-slide="prev">
  <span class="custom-arrow bg-white text-success">
   <i class="bi bi-chevron-left"></i>
  </span>
  <span class="visually-hidden">Anterior</span>
</button>

<!-- Botón siguiente -->
<button class="carousel-control-next d-none d-md-block" type="button" [attr.data-bs-target]="'#' + carouselId" data-bs-slide="next">
  <span class="custom-arrow bg-white text-success">
    <i class="bi bi-chevron-right"></i>
  </span>
  <span class="visually-hidden">Siguiente</span>
</button>


  </div>
</section>
