.carousel-item .productos-slide {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch; /* todas las cards misma altura */
  gap: 1rem;
}



/* En escritorio: 5 productos, cada uno 20% ancho menos gap */
@media (min-width: 768px) {
  .producto-card {
    flex: 1 1 0;
    max-width: calc(20% - 0.8rem);
    min-height: 550px;
  }
}
/* --- 📱 Móvil --- */
@media (max-width: 767.98px) {
  .productos-slide {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  .producto-card {
    flex: 0 0 calc(50% - 1rem); /* 2 productos por fila */
    min-height: 630px;
    box-sizing: border-box;
  }

  .carousel-control-prev,
  .carousel-control-next {
    display: none !important; /* ocultar flechas */
  }
}




.custom-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 1.5rem;
 color: #000;
}

.carousel-control-prev,
.carousel-control-next {
  width: auto;
}
.carousel-control-next{
  right: -40px;
}

.carousel-control-prev {
  left: -40px;
}