<section class="container my-5 p-0 ">
 

  <div [id]="carouselId" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
  <div
    class="carousel-item"
    *ngFor="let grupo of gruposProductos; let i = index"
    [class.active]="i === 0"
  >
    <div class="d-flex productos-slide">
      <div
        routerLink=""
        class="producto-card"
        *ngFor="let producto of grupo"
      >
        <app-card [producto]="producto"></app-card>  

      </div>
    </div>
  </div>
    </div>


    <!-- Controles -->
    <!-- Botón anterior -->
<button class="carousel-control-prev " type="button" [attr.data-bs-target]="'#' + carouselId" data-bs-target="#carouselProductos" data-bs-slide="prev">
  <span class="custom-arrow ">
   <i class="bi bi-chevron-left"></i>
  </span>
  <span class="visually-hidden">Anterior</span>
</button>

<!-- Botón siguiente -->
<button class="carousel-control-next " type="button" [attr.data-bs-target]="'#' + carouselId" data-bs-slide="next">
  <span class="custom-arrow  ">
    <i class="bi bi-chevron-right"></i>
  </span>
  <span class="visually-hidden">Siguiente</span>
</button>


  </div>
</section>