<peruvians-carrusel-principal></peruvians-carrusel-principal>

<!-- Categorias -->
<section class="container my-5">
  <h2 class=" mb-4">Categorías</h2>

  <div class="categoria-wrapper gap-4">

  <div class="categoria-card text-center" [routerLink]="['/', 'aceites']">
    <img src="imagenes/categoriaAceites.jpg" loading="lazy" alt="Aceites" class="categoria-img">
    <h6 class="categoria-title mt-2">Aceites</h6>
  </div>

  <div class="categoria-card text-center" [routerLink]="['/', 'suplementos']">
    <img src="imagenes/categoriaCapsulas.jpg" loading="lazy" alt="Suplementos" class="categoria-img">
    <h6 class="categoria-title mt-2">Suplementos</h6>
  </div>

  <div class="categoria-card text-center" [routerLink]="['/', 'gomitas']">
    <img src="imagenes/categoriaGomitas.jpg" loading="lazy" alt="Gomitas" class="categoria-img">
    <h6 class="categoria-title mt-2">Gomitas</h6>
  </div>

  <div class="categoria-card text-center" [routerLink]="['/', 'batidos']">
    <img src="imagenes/categoriaPolvo.jpg" loading="lazy" alt="Batidos" class="categoria-img">
    <h6 class="categoria-title mt-2">Batidos</h6>
  </div>

  </div>

</section>

<section class="container">
     <h2 class="mb-4">Lo Más Vendido</h2>
     <peruvians-carrusel-productos 
    [productos]="masVendido" 
    [carouselId]="'ProductosCarrusel1'">
  </peruvians-carrusel-productos>
</section>


<section class="container">
     <h2 class="mb-4">Lo Más Nuevo</h2>
    <peruvians-carrusel-productos 
    [productos]="masNuevo" 
    [carouselId]="'ProductosCarrusel2'">
  </peruvians-carrusel-productos>
</section>








<section class="container my-5">
<h2 class=" mb-4">CyberWow</h2>
  <!-- Fila 1 -->
  <div class="row gy-4"> 
    <div class="col-12 col-md-6 promo-card position-relative overflow-hidden rounded-3">
      <img src="imagenes/cyberGomitas.jpg" loading="lazy" width="100%" class="promo-img rounded-3" alt="cyberGomitas">
      <button class="btn btn-success promo-btn">¡Lo quiero!</button>
    </div>
    <div class="col-12 col-md-6 promo-card position-relative overflow-hidden rounded-3">
      <img src="imagenes/cyberComplementos.jpg" loading="lazy" width="100%" class="promo-img rounded-3" alt="cyberComplementos">
      <button class="btn btn-success promo-btn">¡Lo quiero!</button>
    </div>
  </div>

  <!-- Fila 2 -->
  <div class="row my-4">
    <div class="col-6 col-md-3 promo-card position-relative overflow-hidden rounded-3 my-2">
      <img src="imagenes/descuento_cartilago_de_tiburon.jpg" loading="lazy" width="100%" class="promo-img rounded-3" alt="cartílago de tiburón">
      <button class="btn btn-success promo-btn">¡Lo quiero!</button>
    </div>
    <div class="col-6 col-md-3 promo-card position-relative overflow-hidden rounded-3 my-2">
      <img src="imagenes/descuento_aceite_de_oregano.jpg" loading="lazy" width="100%" class="promo-img rounded-3" alt="aceite de orégano">
      <button class="btn btn-success promo-btn">¡Lo quiero!</button>
    </div>
    <div class="col-6 col-md-3 promo-card position-relative overflow-hidden rounded-3 my-2">
      <img src="imagenes/descuento_carticolageno.jpg" loading="lazy" width="100%" class="promo-img rounded-3" alt="carticolágeno">
      <button class="btn btn-success promo-btn">¡Lo quiero!</button>
    </div>
    <div class="col-6 col-md-3 promo-card position-relative overflow-hidden rounded-3 my-2">
      <img src="imagenes/descuento_moringa.jpg" loading="lazy" width="100%" class="promo-img rounded-3" alt="moringa">
      <button class="btn btn-success promo-btn">¡Lo quiero!</button>
    </div>
  </div>

</section>

<!-- Producos Liquidacion -->
<section class="container my-5">
   <h2 class=" mb-4">Productos en Liquidación</h2>
  <div class="row gy-4 ">
    <!-- Repite esto 3 veces para 3 filas -->
    <div class="col-md-6 col-6 " *ngFor="let producto of liquidacion" style="cursor: pointer;">
      <div class="promo-rect-card  align-items-center   shadow-sm">
        <!-- Derecha: Imagen -->
        <div class="w-100 text-end">
          <img [src]="producto.img" alt="oferta" class="img-fluid rounded" [routerLink]="['/', producto.categoria, generarSlugConId(producto)]"/>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Tiendas -->
<section class="container my-5">
  <h2 class=" mb-4">Nuestras Tiendas</h2>

  <div class="scroll">
    <div class="scroll-track">

        <div class="carrusel-item">
          <img src="logos/3boutique.jpg" loading="lazy" alt="Vitaminas" class="categoria-img img-fluid">
          <h6 class="categoria-title mt-2">3 BOUTIQUE</h6>
        </div>

        <div class="carrusel-item">
          <img src="logos/alestore.jpg" loading="lazy" alt="Suplementos" class="categoria-img img-fluid">
          <h6 class="categoria-title mt-2">ALESTORE</h6>
        </div>

        <div class="carrusel-item">
          <img src="logos/franstore.jpg" loading="lazy" alt="Abarrotes" class="categoria-img img-fluid">
          <h6 class="categoria-title mt-2">FRANSTORE</h6>
        </div>
        <div class="carrusel-item">
          <img src="logos/gomugomix.webp" loading="lazy" alt="gomugomix" class="categoria-img img-fluid bg-white">
          <h6 class="categoria-title mt-2">GOMUGOMIX</h6>
        </div>
        <div class="carrusel-item">
          <img src="logos/kastroperu.jpg" loading="lazy" alt="Frescos" class="categoria-img img-fluid">
          <h6 class="categoria-title mt-2">KASTRO PERÚ</h6>
        </div>

        <div class="carrusel-item">
          <img src="logos/mymstore.jpg" loading="lazy" alt="Congelados" class="categoria-img img-fluid">
          <h6 class="categoria-title mt-2">MYMSTORE</h6>
        </div>
        
        <div class="carrusel-item">
          <img src="logos/quickstore.jpg"loading="lazy" alt="Congelados" class="categoria-img img-fluid">
          <h6 class="categoria-title mt-2">QUICKSTORE</h6>
        </div>

        <div class="carrusel-item">
          <img src="logos/vicstore.jpg" loading="lazy" alt="Congelados" class="categoria-img img-fluid">
          <h6 class="categoria-title mt-2">VICSTORE</h6>
        </div>

        <div class="carrusel-item">
          <img src="logos/lukin4.webp" loading="lazy" alt="lukin4" class="categoria-img img-fluid bg-white">
          <h6 class="categoria-title mt-2">LUKIN4</h6>
        </div>

        <!-- Duplicados para efecto infinito -->
           <div class="carrusel-item">
          <img src="logos/3boutique.jpg" loading="lazy" alt="Vitaminas" class="categoria-img img-fluid">
          <h6 class="categoria-title mt-2">3 BOUTIQUE</h6>
        </div>

        <div class="carrusel-item">
          <img src="logos/alestore.jpg" loading="lazy" alt="Suplementos" class="categoria-img img-fluid">
          <h6 class="categoria-title mt-2">ALESTORE</h6>
        </div>

        <div class="carrusel-item">
          <img src="logos/franstore.jpg" loading="lazy" alt="Abarrotes" class="categoria-img img-fluid">
          <h6 class="categoria-title mt-2">FRANSTORE</h6>
        </div>
        <div class="carrusel-item">
          <img src="logos/gomugomix.webp" loading="lazy" alt="gomugomix" class="categoria-img img-fluid bg-white">
          <h6 class="categoria-title mt-2">GOMUGOMIX</h6>
        </div>
        <div class="carrusel-item">
          <img src="logos/kastroperu.jpg" loading="lazy" alt="Frescos" class="categoria-img img-fluid">
          <h6 class="categoria-title mt-2">KASTRO PERÚ</h6>
        </div>

        <div class="carrusel-item">
          <img src="logos/mymstore.jpg" loading="lazy" alt="Congelados" class="categoria-img img-fluid">
          <h6 class="categoria-title mt-2">MYMSTORE</h6>
        </div>
        
        <div class="carrusel-item">
          <img src="logos/quickstore.jpg"loading="lazy" alt="Congelados" class="categoria-img img-fluid">
          <h6 class="categoria-title mt-2">QUICKSTORE</h6>
        </div>

        <div class="carrusel-item">
          <img src="logos/vicstore.jpg" loading="lazy" alt="Congelados" class="categoria-img img-fluid">
          <h6 class="categoria-title mt-2">VICSTORE</h6>
        </div>

        <div class="carrusel-item">
          <img src="logos/lukin4.webp" loading="lazy" alt="lukin4" class="categoria-img img-fluid bg-white">
          <h6 class="categoria-title mt-2">LUKIN4</h6>
        </div>
    </div>
    

    
   
  </div>
</section>



<section class="container ">
  <h2 class=" mb-4">Testimonios</h2>
  <peruvians-carrusel-comentarios></peruvians-carrusel-comentarios>
</section>