.scroll {
    overflow: hidden;
    text-align: center;
  
  border-radius: 12px;
  padding: 2rem 1rem;
  background: linear-gradient(135deg, #ffcc00, #ff0080);
  
}
.scroll-track {
    display: flex;
    width: max-content;
    animation: scroll 30s linear infinite;
}
.scroll-track .carrusel-item{
    flex: 0 0 auto;
    width: 155px; /* Ancho fijo para cada item */
    margin-right: 1rem; /* Espacio entre items */
     transition: transform 0.3s ease;
}
.scroll-track .carrusel-item img{
    width: 100%; /* Asegura que la imagen ocupe todo el ancho del item */
    height: auto; /* Mantiene la proporción de la imagen */
    border-radius: 50%; /* Bordes redondeados */
   
}

.carrusel-item:hover {
  transform: scale(1.1);
}
@media (max-width: 768px) {
  .scroll-track .carrusel-item{
    flex: 0 0 auto;
    width: 100px; /* Ancho fijo para cada item */
    margin-right: 1rem; /* Espacio entre items */
    
}

  
}

@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}


/* Contenedor principal que se comporta como carrusel horizontal en móvil */
.categoria-wrapper {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  padding-bottom: 0.5rem;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

.categoria-card {
  flex: 0 0 auto;
  width: 164px;
  border-radius: 8px;
  transition: background-color 0.3s, box-shadow 0.3s;
  background: #b461f368;
  box-shadow: 0 2px 12px #ff00c822;
 
  cursor: pointer;
}
.categoria-card:hover {
 
  border-color: #ffa600;
  box-shadow: 0 4px 24px #eea214;
}
.categoria-img-wrapper {
  overflow: hidden;
  border-radius: 8px;
}

.categoria-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform .6s ease, box-shadow 0.3s ease;
}

/* Hover effects */
.categoria-card:hover .categoria-img {
  box-shadow: 0 0 10px #225201;
  transform: scale(1.05) rotate(-2deg);
}

.categoria-title {
  font-size: 1rem;
  margin-top: 0.5rem;
  color: #333;
  transition: color 0.3s;
}

.categoria-card:hover .categoria-title {
  color: #7b37e8;
}







.promo-card {
  cursor: pointer;
  transition: transform 0.3s ease;
}

.promo-card:hover {
  transform: scale(1.01);
  
}

/* Imagen que se vuelve pálida en hover */
.promo-img {
  transition: all 0.4s ease;
  width: 100%;
  height: auto;
}

.promo-card:hover .promo-img {
   filter: grayscale(30%) brightness(80%) blur(1px);
   border: 1px solid #940fd682;
}

.promo-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.6s ease, transform 0.3s ease;
  z-index: 2;
  padding: 12px 24px;
  font-size: 10px;
  font-weight: bold;
  background-color: #5327abca; /* verde Bootstrap */
  color: white;
  border: none;
  border-radius: 12px;
  box-shadow: 0 8px 15px rgba(0, 128, 0, 0.3);
}

/* Mostrar botón en hover */
.promo-card:hover .promo-btn {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1.05);
}

/* Efecto rebote al hacer hover en el botón */
.promo-btn:hover {
  transform: translate(-50%, -50%) scale(1.1);
  background-color: #cb6c24c6;
  box-shadow: 0 10px 20px rgba(0, 128, 0, 0.4);
}



.promo-rect-card {
  
  transition: transform 0.2s ease, box-shadow 0.3s ease;
 
}

.promo-rect-card:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}











