<div id="carouselTestimonials" class="carousel slide" data-bs-ride="carousel" data-bs-touch="true">
  <div class="carousel-inner">

    <!-- Slide 1 -->
    <div class="carousel-item active">
      <div class="row justify-content-center align-items-stretch">

        <!-- Card 1 -->
        <div class="col-md-4 d-flex">
          <div class="card w-100 card-custom">
             <img src="./imagenes/comentarios/comentario (4).jpeg" loading="lazy" alt="Juan Pérez" 
                 class="rounded-circle mx-auto mt-2 border border-success" 
                 style="width:100px; height:100px; object-fit: cover;">
            <div class="card-body text-center ">
                <div class="text-warning" style="font-size: 1.4rem; text-shadow: 1px 1px 0 #000;">★★★★★</div>
              <h5 class="card-title">María Fernanda R.</h5>
              
              <p class="card-text">”¡Me encantaron las gomitas de colágeno! Desde la segunda semana sentí mi piel más firme y luminosa. El servicio fue impecable: me confirmaron todo por WhatsApp y llegó puntual a mi casa.<br> Volveré a pedir sin duda.”</p>
              <small class="text-muted">Lima, Perú</small>
            </div>
          </div>
        </div>

        <!-- Card 2 -->
        <div class="col-md-4 d-md-flex d-none">
          <div class="card mb-3 w-100 card-custom">
              <img src="./imagenes/comentarios/comentario (15).jpeg" loading="lazy" alt="María Rodríguez" 
                 class="rounded-circle  mx-auto mt-2 border border-success" 
                 style="width:100px; height:100px;top:7px;; left:15px; object-fit: cover;">
            <div class="card-body text-center ">
                <div class="text-warning" style="font-size: 1.4rem; text-shadow: 1px 1px 0 #000;">★★★★★</div>
              <h5 class="card-title">Carlos J.</h5>
              
              <p class="card-text">“Probé el aceite de orégano y es simplemente potente. Me ayudó muchísimo con la garganta y lo uso apenas siento que me resfrío. Todo el proceso de compra fue rápido, confiable y muy profesional. ¡Recomendadísimos!”</p>
              <small class="text-muted">Arequipa, Perú</small>
            </div>
          </div>
        </div>

        <!-- Card 3 -->
        <div class="col-md-4 d-md-flex d-none">
          <div class="card mb-3 w-100 card-custom">
             <img src="./imagenes/comentarios/comentario (6).jpeg"  loading="lazy" alt="Carlos Fernández" 
                 class="rounded-circle mx-auto mt-2 border border-success" 
                 style="width:100px; height:100px;top:7px;; left:15px; object-fit: cover;">
            <div class="card-body text-center ">
                <div class="text-warning" style="font-size: 1.4rem; text-shadow: 1px 1px 0 #000;">★★★★★</div>
              <h5 class="card-title">Fiorella G.</h5>
              
              <p class="card-text">“Soy fan de sus gomitas para dormir. Duermo como nunca antes, sin sentirme cansada al día siguiente. Me escribieron para confirmar la entrega y llegaron exactamente cuando dijeron. ¡Servicio A1!”</p>
              <small class="text-muted">Trujillo, Perú</small>
            </div>
          </div>
        </div>

      </div>
    </div>

    <!-- Agrega más slides aquí si deseas -->
      <div class="carousel-item ">
      <div class="row justify-content-center align-items-stretch">

        <!-- Card 1 -->
        <div class="col-md-4 d-flex">
          <div class="card mb-3 w-100 card-custom">
            <img src="./imagenes/comentarios/comentario (8).jpeg" loading="lazy" alt="comentario" 
                 class="rounded-circle mx-auto mt-2 border border-success" 
                 style="width:100px; height:100px;top:7px;; left:15px; object-fit: cover;">
            <div class="card-body text-center  ">
                <div class="text-warning" style="font-size: 1.4rem; text-shadow: 1px 1px 0 #000;">★★★★★</div>
              <h5 class="card-title">Elodia A.</h5>
              
              <p class="card-text">“La atención al cliente de PERUVIANSECOM es de otro nivel. Compré las cápsulas de Hepaloa para desintoxicar mi hígado y me sorprendió la mejora en mi digestión. Todo orgánico, con excelente presentación.” </p>
              <small class="text-muted">Lima, Perú</small>
            </div>
          </div>
        </div>

        <!-- Card 2 -->
        <div class="col-md-4 d-md-flex d-none">
          <div class="card mb-3 w-100 card-custom">
            <img src="./imagenes/comentarios/comentario (5).jpeg" loading="lazy" alt="Marcos Gutierrez" 
                 class="rounded-circle mx-auto mt-2 border border-success" 
                 style="width:100px; height:100px;top:7px;; left:15px; object-fit: cover;">
            <div class="card-body text-center ">
                <div class="text-warning" style="font-size: 1.4rem; text-shadow: 1px 1px 0 #000;">★★★★★</div>
                <h5 class="card-title">Lucía B.</h5>
              <p class="card-text">“Las gomitas de omega 3-6-9 son lo máximo. Mi concentración mejoró bastante en el trabajo. Además, la marca te transmite confianza desde que haces el pedido hasta que lo tienes en tus manos.”</p>
              <small class="text-muted">Cusco, Perú</small>
            </div>
          </div>
        </div>

        <!-- Card 3 -->
        <div class="col-md-4 d-md-flex d-none">
          <div class="card mb-3 w-100 card-custom">
            <img src="./imagenes/comentarios/comentario (12).jpeg" loading="lazy" alt="Eduardo Soto" 
                 class="rounded-circle mx-auto mt-2 border border-success" 
                 style="width:100px; height:100px;top:7px;; left:15px; object-fit: cover;">
            <div class="card-body text-center ">
                <div class="text-warning" style="font-size: 1.4rem; text-shadow: 1px 1px 0 #000;">★★★★★</div>
              <h5 class="card-title">Renzo C.</h5>
              
              <p class="card-text">“Me gusta invertir en productos naturales y PERUVIANSECOM es mi nueva marca favorita. Todo lo que pedí llegó a tiempo, con buen empaque y atención excelente. ¡Los recomiendo al 100%!”</p>
              <small class="text-muted">Callao, Perú</small>
            </div>
          </div>
        </div>

      </div>
      </div>

      <div *ngIf="!ocultarUltimoSlide" class="carousel-item ">
      <div class="row justify-content-center align-items-stretch">

        <!-- Card 1 -->
        <div class="col-md-4 d-flex">
          <div class="card mb-3 w-100 card-custom">
            <img src="./imagenes/comentarios/comentario (7).jpeg" loading="lazy" alt="Camila Chacon" 
                 class="rounded-circle mx-auto mt-2 border border-success" 
                 style="width:100px; height:100px;top:7px;; left:15px; object-fit: cover;">
            <div class="card-body text-center ">
                <div class="text-warning" style="font-size: 1.4rem; text-shadow: 1px 1px 0 #000;">★★★★★</div>
              <h5 class="card-title">Renzo C.</h5>
              
              <p class="card-text">“Me gusta invertir en productos naturales y PERUVIANSECOM es mi nueva marca favorita. Todo lo que pedí llegó a tiempo, con buen empaque y atención excelente. ¡Los recomiendo al 100%!”</p>
              <small class="text-muted">Callao, Perú</small>
            </div>
          </div>
        </div>

        

      </div>
      </div>


  </div>

 <!-- Botón anterior -->
<button class="carousel-control-prev d-none d-md-block" type="button"
        data-bs-target="#carouselTestimonials"
        data-bs-slide="prev">
  <span class="custom-arrow  d-flex align-items-center justify-content-center rounded-circle ">
    <i class="bi bi-chevron-left fs-4"></i>
  </span>
  <span class="visually-hidden">Anterior</span>
</button>

<!-- Botón siguiente -->
<button class="carousel-control-next d-none d-md-block" type="button"
        data-bs-target="#carouselTestimonials"
        data-bs-slide="next">
  <span class="custom-arrow  d-flex align-items-center justify-content-center rounded-circle ">
    <i class="bi bi-chevron-right fs-4"></i>
  </span>
  <span class="visually-hidden">Siguiente</span>
</button>

</div>
