<div id="carouselTestimonials" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">

    <!-- Slide 1 -->
    <div class="carousel-item active">
      <div class="row justify-content-center">

        <!-- Card 1 -->
        <div class="col-md-4 d-flex">
          <div class="card mb-3 w-100 card-custom">
             <img src="https://randomuser.me/api/portraits/men/32.jpg" loading="lazy" alt="Juan Pérez" 
                 class="rounded-circle position-absolute border border-success" 
                 style="width:60px; height:60px; top:15px; left:15px; object-fit: cover;">
            <div class="card-body text-center d-flex flex-column justify-content-between">
                <div class="text-warning">★★★★★</div>
              <h5 class="card-title">Juan Pérez</h5>
              
              <p class="card-text">Quiero compartir mi experiencia con su página web. Vivo en provincia y, al principio, tenía un poco de incertidumbre sobre hacer compras en línea. Sin embargo, desde el momento en que visité su plataforma, me transmitieron mucha confianza.confianza. <br><br>
                
                ¡Gracias por el excelente servicio! Sin duda, volveré a comprar.</p>
              <small class="text-muted">Lima</small>
            </div>
          </div>
        </div>

        <!-- Card 2 -->
        <div class="col-md-4 d-md-flex d-none">
          <div class="card mb-3 w-100 card-custom">
              <img src="https://randomuser.me/api/portraits/women/44.jpg" loading="lazy" alt="María Rodríguez" 
                 class="rounded-circle position-absolute border border-success" 
                 style="width:60px; height:60px; top:15px; left:15px; object-fit: cover;">
            <div class="card-body text-center d-flex flex-column justify-content-between">
                <div class="text-warning">★★★★★</div>
              <h5 class="card-title">María Rodríguez</h5>
              
              <p class="card-text">Esta tienda es un verdadero paraíso para quienes amamos lo orgánico y natural. Cada rincón está lleno de productos de calidad, hechos con amor y respeto por la naturaleza. Además, la atención es maravillosa, ¡se nota la pasión por lo que hacen! Gracias por ayudarnos a vivir de manera más saludable y consciente. 🌿✨</p>
              <small class="text-muted">Cusco</small>
            </div>
          </div>
        </div>

        <!-- Card 3 -->
        <div class="col-md-4 d-md-flex d-none">
          <div class="card mb-3 w-100 card-custom">
             <img src="https://randomuser.me/api/portraits/men/65.jpg" loading="lazy" alt="Carlos Fernández" 
                 class="rounded-circle position-absolute border border-success" 
                 style="width:60px; height:60px; top:15px; left:15px; object-fit: cover;">
            <div class="card-body text-center d-flex flex-column justify-content-between">
                <div class="text-warning">★★★★★</div>
              <h5 class="card-title">Carlos Fernández</h5>
              
              <p class="card-text">Productos increíbles y un ambiente lleno de armonía. ¡Gracias por una atencion tan maravillosa</p>
              <small class="text-muted">Arequipa</small>
            </div>
          </div>
        </div>

      </div>
    </div>

    <!-- Agrega más slides aquí si deseas -->
      <div class="carousel-item active">
      <div class="row justify-content-center">

        <!-- Card 1 -->
        <div class="col-md-4 d-flex">
          <div class="card mb-3 w-100 card-custom">
            <img src="https://randomuser.me/api/portraits/women/55.jpg" loading="lazy" alt="Camila Chacon" 
                 class="rounded-circle position-absolute border border-success" 
                 style="width:60px; height:60px; top:15px; left:15px; object-fit: cover;">
            <div class="card-body text-center d-flex flex-column justify-content-between">
                <div class="text-warning">★★★★★</div>
              <h5 class="card-title">Camila Chacon</h5>
              
              <p class="card-text">Esta tienda es un verdadero paraíso para quienes amamos lo orgánico y natural. Cada rincón está lleno de productos de calidad, hechos con amor y respeto por la naturaleza. Además, la atención es maravillosa, ¡se nota la pasión por lo que hacen! Gracias por ayudarnos a vivir de manera más saludable y consciente. 🌿✨</p>
              <small class="text-muted">San Miguel</small>
            </div>
          </div>
        </div>

        <!-- Card 2 -->
        <div class="col-md-4 d-md-flex d-none">
          <div class="card mb-3 w-100 card-custom">
            <img src="https://randomuser.me/api/portraits/men/75.jpg" loading="lazy" alt="Marcos Gutierrez" 
                 class="rounded-circle position-absolute border border-success" 
                 style="width:60px; height:60px; top:15px; left:15px; object-fit: cover;">
            <div class="card-body text-center d-flex flex-column justify-content-between">
                <div class="text-warning">★★★★★</div>
                <h5 class="card-title">Marcos Gutierrez</h5>
              <p class="card-text">Productos increíbles y un ambiente lleno de armonía. ¡Gracias por una atencion tan maravillosa</p>
              <small class="text-muted">San Borja</small>
            </div>
          </div>
        </div>

        <!-- Card 3 -->
        <div class="col-md-4 d-md-flex d-none">
          <div class="card mb-3 w-100 card-custom">
            <img src="https://randomuser.me/api/portraits/men/80.jpg" loading="lazy" alt="Eduardo Soto" 
                 class="rounded-circle position-absolute border border-success" 
                 style="width:60px; height:60px; top:15px; left:15px; object-fit: cover;">
            <div class="card-body text-center d-flex flex-column justify-content-between">
                <div class="text-warning">★★★★★</div>
              <h5 class="card-title">Eduardo Soto</h5>
              
              <p class="card-text">La atención en esta tienda es excepcional, siempre amable y personalizada. Da gusto encontrar un lugar donde realmente se preocupan por cada cliente. ¡Gracias por hacer la experiencia tan especial! 🌿😊</p>
              <small class="text-muted">Magdalena</small>
            </div>
          </div>
        </div>

      </div>
      </div>

      <div class="carousel-item active">
      <div class="row justify-content-center">

        <!-- Card 1 -->
        <div class="col-md-4 d-md-none d-flex">
          <div class="card mb-3 w-100 card-custom">
            <img src="https://randomuser.me/api/portraits/women/55.jpg" loading="lazy" alt="Camila Chacon" 
                 class="rounded-circle position-absolute border border-success" 
                 style="width:60px; height:60px; top:15px; left:15px; object-fit: cover;">
            <div class="card-body text-center d-flex flex-column justify-content-between">
                <div class="text-warning">★★★★★</div>
              <h5 class="card-title">Juan Quinteros</h5>
              
              <p class="card-text">Esta tienda es un verdadero paraíso para quienes amamos lo orgánico y natural. Cada rincón está lleno de productos de calidad, hechos con amor y respeto por la naturaleza. Además, la atención es maravillosa, ¡se nota la pasión por lo que hacen! Gracias por ayudarnos a vivir de manera más saludable y consciente. 🌿✨</p>
              <small class="text-muted">San Miguel</small>
            </div>
          </div>
        </div>

       
       

      </div>
      </div>


  </div>

  <!-- Controles -->
  
    <!-- Botón anterior -->
    <button class="carousel-control-prev" type="button"
            data-bs-target="#carouselTestimonials"
            data-bs-slide="prev">
    <span class="custom-arrow bg-white text-success d-flex align-items-center justify-content-center rounded-circle shadow">
        <i class="bi bi-chevron-left fs-4"></i>
    </span>
    <span class="visually-hidden">Anterior</span>
    </button>

    <!-- Botón siguiente -->
    <button class="carousel-control-next" type="button"
            data-bs-target="#carouselTestimonials"
            data-bs-slide="next">
    <span class="custom-arrow bg-white text-success d-flex align-items-center justify-content-center rounded-circle shadow">
        <i class="bi bi-chevron-right fs-4"></i>
    </span>
    <span class="visually-hidden">Siguiente</span>
    </button>

</div>
