







.custom-arrow {
  width: 40px;
  height: 40px;
  font-size: 1.25rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.carousel-control-prev {
  left: -15px;  /* más cerca del borde izquierdo */
  width: 40px; /* controla ancho para evitar tapar contenido */
  
}

.carousel-control-next {
  right: -15px; /* más cerca del borde derecho */
  width: 40px;

}