.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  background: #fff;
  width: 100%;
  padding: 0;
  transition: transform 0.2s ease-in-out;
  height: 100%;
  min-height: 480px;
  position: relative;
}

/* --- 游님 M칩vil --- */
@media (max-width: 767.98px) {
  .card {
    height: 100%;
    min-height: 580px;
  }

  .card-img-wrapper {
    height: 220px; /* m치s peque침a en m칩vil */
  }
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 13px rgba(92, 51, 134, 0.17);
}

/* --- Imagen --- */
.card-img-wrapper {
  width: 100%;
  height: 250px; /* Tama침o uniforme para todas las im치genes */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9; /* color de fondo neutro para im치genes peque침as */
  border-bottom: 1px solid #eee;
}

.card-img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* muestra todo el contenido sin recortar */
}

/* --- Delivery y Provincia --- */
.info-envio {
  margin-top: 0.5rem;
}

.info-envio i {
  font-size: 1rem;
}

/* --- Bot칩n agregar --- */
.boton-agregar {
  border: 1px solid #8D48CD;
  background-color: #8D48CD;
  color: #fff;
  transition: all 0.3s ease;
  font-weight: 600;
  border-radius: 6px;
}

.boton-agregar:hover {
  background-color: #732EAE;
  color: white;
}

/* --- Badge de descuento --- */
.descuento-badge {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ff0000;
  color: white;
  padding: 0.4rem 0.6rem;
  font-size: 13px;
  font-weight: bold;
  border-radius: 0px 0 5px;
  z-index: 1;
}

/* --- Cuerpo de la tarjeta --- */
.card-body-custom {
  flex: 1 1 auto;
  padding: 0.75rem 1rem;
}

/* --- Cantidad --- */
.cantidad-box {
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* --- Bot칩n ir al carrito --- */
.btn-irCarrito {
  padding: 10px 0;
  background-color: #8D48CD;
  color: white;
  width: 33%;
}
