.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  background: #fff;
  transition: transform 0.2s ease-in-out;
  height: auto; /* 👈 importante */
  min-height: 560px; /* controla el alto mínimo en desktop */
}

@media (max-width: 767.98px) {
  .card {
    min-height: 510px; /* deja que se adapte al contenido */
    height: auto;     /* evita el estiramiento */
  }
}
.card:hover {
  transform: translateY(-5px);
   box-shadow: 0 8px 13px rgba(92, 51, 134, 0.17);
}



/* --- Delivery y Provincia --- */
.info-envio {
  margin-top: 0.5rem;
}
.info-envio i {
  font-size: 1rem;
}


.boton-agregar {
  border:1px solid #8D48CD ;      /* verde Bootstrap */
  background-color: #8D48CD;
  color:#fff;
  transition: all 0.3s ease;
  font-weight: 600;
  border-radius: 6px;
}

.boton-agregar:hover {
  background-color: #732EAE;
  color: white;
}

 

.descuento-badge {
  position: absolute;
  top: 0rem;
  left: 0rem;
  background-color: #ff0000 ; /* rojo Bootstrap */
  color: white;
  padding: 0.4rem .6rem;
  font-size: 13px;
  font-weight: bold;
  border-radius:0px 0 5px;
  z-index: 1;
}
.card-body-custom {
  flex: 1 1 auto;
  padding: 0.75rem 1rem;
  
}

.cantidad-box {
  border: 1px solid #ccc;
  border-radius: 5px;
 
 
}



.btn-irCarrito{
  padding: 10px 0;
  background-color: #8D48CD;
  color: white;
  width: 33%;
}


.modal-title{
  color: #8D48CD;
}



.card-img-top {
  width: 100%;
  aspect-ratio: 1 / 1; /* cuadrado, o cambia a 4/3 o 16/9 según tu imagen */
  object-fit: cover;   /* ajusta sin deformar */
}
