<section class="container-fluid px-0  py-3 breadcrumb-container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb mb-0">
      <li class="breadcrumb-item">
        <a routerLink="/" class="breadcrumb-link"><i class="bi bi-house-door-fill me-2"></i>Inicio</a>
      </li>



      <li 
      class="breadcrumb-item" 
      *ngFor="let part of pathParts; let last = last"
      [class.active]="last"
      [attr.aria-current]="last ? 'page' : null"
    >
      <ng-container>
        <!-- ✔ Si NO es el último, es clickeable -->
        <a class="breadcrumb-link" *ngIf="!last" [routerLink]="['/', part]">
          {{ part.split('-').join(' ') | titlecase }}
        </a>

        <!-- ✔ Si es el último, NO es clickeable -->
        <span *ngIf="last" class="breadcrumb-active">
          {{ part.split('-').join(' ') | titlecase }}


        </span>
      </ng-container>
    </li>



    
    

    </ol>
  </nav>
</section>