.skeleton {
  background: linear-gradient(90deg, #48305e50 25%, #e0e0e0ad 37%, #d8c9e848 63%);
  background-size: 400% 100%;
  animation: skeleton-loading 1.2s infinite ease-in-out;
  border-radius: 5px;
  min-height: 350px;
}

@keyframes skeleton-loading {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}
.range-slider {
  width: 100%;
  position: relative;
  height: 40px;
}
.range-slider input[type=range] {
  position: absolute;
  left: 0;
  right: 0;
  pointer-events: none; 
}
.range-slider input[type=range]::-webkit-slider-thumb {
  pointer-events: all;
  position: relative;
  z-index: 2;
}
.range-slider input[type=range]::-moz-range-thumb {
  pointer-events: all;
  position: relative;
  z-index: 2;
}








