.whatsapp-float {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #25d366;
    color: white;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    padding: 33px;
    display: flex
;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s 
ease;
    z-index: 1000;
    animation: _ngcontent-ng-c3879940065_bounce 2s infinite;
    font-size: 2rem;
}

.whatsapp-float:hover {
  transform: scale(1.1);
  background-color: #1ebe57;
}
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
}
/* app.component.css */
.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 2px;
  background: transparent;
  z-index: 9999;
  pointer-events: none;
}

.progress-bar-fill {
  height: 100%;
  background: #29d;
  box-shadow: 0 0 10px #29d, 0 0 5px #29d;
  transition: width 0.2s ease;
  width: 0%;
}

.progress-bar-fill::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #29d, 0 0 5px #29d;
  opacity: 1;
  transform: rotate(3deg) translate(0px, -4px);
}
