

<a href="https://wa.me/51929445069" target="_blank" class="whatsapp-float" aria-label="WhatsApp">
  <i class="bi bi-whatsapp"></i>
</a>

<div class="progress-bar-container" *ngIf="loading">
  <div class="progress-bar"></div>
</div>



    <peruvians-header></peruvians-header>


        <main class="min-vh-100">
          <router-outlet></router-outlet>  
        </main>
        
        <section class="container py-5">
                <div class="row text-center g-4">

                  <div class="col-12 col-md-6 col-lg-3">
                    <div class="info-card p-4 rounded-4 shadow-lg h-100 text-white" 
                        style="background: linear-gradient(135deg, #FFD93D, #FFB347);">
                      <i class="bi bi-box-seam-fill display-4 mb-3"></i>
                      <h5 class="fw-bold">¡ENVÍOS A TODO EL PERÚ!</h5>
                      <p class="mb-0">Llévatelo directo a tu casa</p>
                    </div>
                  </div>


                  <div class="col-12 col-md-6 col-lg-3">
                    <div class="info-card p-4 rounded-4 shadow-lg h-100 text-white" style="background: linear-gradient(135deg, #43cea2, #185a9d);">
                      <i class="bi bi-chat-dots-fill display-4 mb-3"></i>
                      <h5 class="fw-bold">¡CONSULTAS 9AM - 6PM!</h5>
                      <p class="mb-0">¡Te respondemos al toque!</p>
                    </div>
                  </div>

                  <div class="col-12 col-md-6 col-lg-3">
                    <div class="info-card p-4 rounded-4 shadow-lg h-100 text-white" style="background: linear-gradient(135deg, #ff9966, #ff5e62);">
                      <i class="bi bi-credit-card-fill display-4 mb-3"></i>
                      <h5 class="fw-bold">¡PAGOS 100% SEGUROS!</h5>
                      <p class="mb-0">Pagos rápidos con Izipay</p>
                    </div>
                  </div>

                  <div class="col-12 col-md-6 col-lg-3">
                    <div class="info-card p-4 rounded-4 shadow-lg h-100 text-white" style="background: linear-gradient(135deg, #56ab2f, #a8e063);">
                      <i class="bi bi-arrow-repeat display-4 mb-3"></i>
                      <h5 class="fw-bold">¡CAMBIOS EN 48 HORAS!</h5>
                      <p class="mb-0">Rápido y sin vueltas</p>
                    </div>
                  </div>

                </div>
        </section> 
  <peruvians-footer></peruvians-footer>


