<peruvians-header></peruvians-header>

<main>
    <router-outlet></router-outlet>
   <section class="container py-5">
  <div class="row text-center g-4">

    <!-- Card 1 -->
    <div class="col-12 col-md-6 col-lg-3" >
      <div class="info-card-chicha p-4 border rounded-4 shadow-lg h-100 text-white bg-gradient" style="background: linear-gradient(145deg, #ff0099, #ffcc00);">
        <i class="bi bi-box-seam-fill display-4 mb-3" style="color: #fff700;"></i>
        <h5 class="fw-bold" style="font-family: Impact, sans-serif; font-size: 1.5rem;">¡ENVÍOS A TODO EL PERÚ!</h5>
        <p class="mb-0" style="font-size: 1rem;">Llévatelo directo a tu casa</p>
      </div>
    </div>

    <!-- Card 2 -->
    <div class="col-12 col-md-6 col-lg-3">
      <div class="info-card-chicha p-4 border rounded-4 shadow-lg h-100 text-white bg-gradient" style="background: linear-gradient(145deg, #00d4ff, #ff00c8);">
        <i class="bi bi-chat-dots-fill display-4 mb-3" style="color: #00ffae;"></i>
        <h5 class="fw-bold" style="font-family: Impact, sans-serif; font-size: 1.5rem;">¡CONSULTAS 9AM - 6PM!</h5>
        <p class="mb-0" style="font-size: 1rem;">¡Te respondemos al toque!</p>
      </div>
    </div>

    <!-- Card 3 -->
    <div class="col-12 col-md-6 col-lg-3">
      <div class="info-card-chicha p-4 border rounded-4 shadow-lg h-100 text-white bg-gradient" style="background: linear-gradient(145deg, #ff5f5f, #ffb347);">
        <i class="bi bi-credit-card-fill display-4 mb-3" style="color: #fff;"></i>
        <h5 class="fw-bold" style="font-family: Impact, sans-serif; font-size: 1.5rem;">¡PAGOS 100% SEGUROS!</h5>
        <p class="mb-0" style="font-size: 1rem;">Pagos rápidos con Izipay</p>
      </div>
    </div>

    <!-- Card 4 -->
    <div class="col-12 col-md-6 col-lg-3">
      <div class="info-card-chicha p-4 border rounded-4 shadow-lg h-100 text-white bg-gradient" style="background: linear-gradient(145deg, #32ff7e, #f8ff32);">
        <i class="bi bi-arrow-repeat display-4 mb-3" style="color: #ff00ff;"></i>
        <h5 class="fw-bold" style="font-family: Impact, sans-serif; font-size: 1.5rem;">¡CAMBIOS EN 48 HORAS!</h5>
        <p class="mb-0" style="font-size: 1rem;">Rápido y sin vueltas</p>
      </div>
    </div>

  </div>
</section>




</main>




    <peruvians-footer></peruvians-footer>