<div class="container mt-4">
  <div class="row">
    <!-- Columna izquierda -->
    <div class="col-md-8">
      <!-- Entrega -->
      <div class="card mb-3">
        <div class="card-body d-flex justify-content-between align-items-center">
          <div>
            <h5 class="card-title">Entrega</h5>
            <p class="card-text mb-0">{{ direccionCliente }}</p>
          </div>
          <button class="btn btn-outline-primary" (click)="modificarDireccion()">Modificar</button>
        </div>
      </div>

      <!-- Medio de Pago -->
      <div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title">Medio de Pago</h5>

    <div class="d-flex flex-column gap-3 mb-3">

      <label
        class="payment-option border rounded d-flex justify-content-between align-items-center gap-3 p-3"
        [class.selected]="selectedPayment === 'card'"
        (click)="selectPayment('card')"
      >
        <div>
            <img
          src="https://static.vecteezy.com/system/resources/thumbnails/020/975/572/small_2x/visa-logo-visa-icon-transparent-free-png.png"
          alt="Pago con tarjeta"
          style="max-width: 80px"
        />
        <span>Pago con tarjeta</span>
        </div>
        <i class="bi bi-chevron-down fs-5"></i>
      
      </label>
       <!-- Formulario tarjeta -->
    <div *ngIf="selectedPayment === 'card'" class="border rounded p-3">
      <h6>Datos de la tarjeta</h6>
      <form #cardForm="ngForm">
       <div class="mb-3 position-relative">
        <input
          type="text"
          id="cardNumber"
          name="cardNumber"
          class="form-control ps-5"  
          placeholder="Número de tarjeta"
          maxlength="19"
          ngModel
          required
        />
        <i class="bi bi-credit-card position-absolute fs-4 text-dark" 
          style="top: 55%; left: 15px; transform: translateY(-50%); color: #6c757d; pointer-events:none;"></i>
      </div>


        <div class="mb-3">
          <label for="cardName" class="form-label">Nombre en la tarjeta</label>
          <input
            type="text"
            id="cardName"
            name="cardName"
            class="form-control"
            placeholder="Nombre completo"
            ngModel
            required
          />
        </div>
        <div class="row">
          <div class="col-6 mb-3">
            <label for="expiryDate" class="form-label">Fecha expiración</label>
            <input
              type="text"
              id="expiryDate"
              name="expiryDate"
              class="form-control"
              placeholder="MM/AA"
              maxlength="5"
              ngModel
              required
            />
          </div>
          <div class="col-6 mb-3">
            <label for="cvv" class="form-label">CVV</label>
            <input
              type="password"
              id="cvv"
              name="cvv"
              class="form-control"
              placeholder="123"
              maxlength="3"
              ngModel
              required
            />
          </div>
        </div>
      </form>
    </div>

      <label
        class="payment-option border rounded d-flex justify-content-between align-items-center gap-3 p-3"
        [class.selected]="selectedPayment === 'yape'"
        (click)="selectPayment('yape')"
      >
      <div>
          <img
          src="https://logosenvector.com/logo/img/yape-bcp-4390.jpg"
          alt="Pago con Yape"
          style="max-width: 80px"
        />
        <span> Pago con Yape</span>
      </div>
      
        <i class="bi bi-chevron-down fs-5"></i>
      </label>

      <label
        class="payment-option border rounded d-flex justify-content-between align-items-center gap-3 p-3"
        [class.selected]="selectedPayment === 'plin'"
        (click)="selectPayment('plin')"
      >
      <div> 
        <img
          src="https://images.seeklogo.com/logo-png/38/1/plin-logo-png_seeklogo-386806.png"
          alt="Pago con Plin"
          style="max-width: 80px"
        />
        <span> Pago con Plin</span>
      </div>
        <i class="bi bi-chevron-down fs-5"></i>

      </label>
    </div>

   
  </div>
</div>


      <div class="card mb-3 ">
        <div class="card-body ">
          <h5 class="card-title">Boleta</h5>
            <p class="mb-0">
              La boleta se enviará al siguiente correo:
              <span class="text-primary">{{ correoCliente }}</span>
            </p>
        </div>
          
      </div>
    
    </div>

    <!-- Columna derecha -->
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Mis Productos</h5>

          <!-- Lista de productos -->
          <div *ngFor="let producto of productos" class="d-flex justify-content-between align-items-center border-bottom py-2">
            <span>{{ producto.nombre }}</span>
            <div class="cantidad-box d-flex justify-content-between align-items-center">
              <button class="cantidad-btn" (click)="disminuirCantidad(producto)">-</button>
              <span>{{ producto.cantidad }}</span>
              <button class="cantidad-btn" (click)="aumentarCantidad(producto)">+</button>
            </div>
            <span class="fw-bold">S/ {{ producto.precio * producto.cantidad }}</span>
          </div>

          <!-- Resumen -->
          <div class="mt-3">
            <div class="d-flex justify-content-between">
              <span>Subtotal</span>
              <span>S/ {{ subtotal }}</span>
            </div>
            <div class="d-flex justify-content-between">
              <span>Descuento</span>
              <span>- S/ {{ descuento }}</span>
            </div>
            <hr>
            <div class="d-flex justify-content-between fw-bold">
              <span>Total</span>
              <span>S/ {{ total }}</span>
            </div>
          </div>

          <button class="btn-pagar w-100 mt-3" (click)="pagar()">Pagar</button>
        </div>
      </div>
    </div>
  </div>
</div>
