<footer class="footer-natural text-white py-5 position-relative">
  <div class="container position-relative" style="z-index: 2;">
    <div class="row gy-4">

      <!-- Logo y Reclamaciones -->
      <div class="col-12 col-md-3 d-flex flex-column align-items-start">
         <img src="logo (2).png" loading="lazy" alt="Logo" width="160" height="65">
       
        <img src="https://organaperu.vtexassets.com/arquivos/rexbox-libro-de-reclamaciones-footer.png" loading="lazy"  alt="libro reclamaciones" width="160" height="100" class="m-0 p-0">
      </div>

      <!-- Información -->
      <div class="col-6 col-md-3">
        <h5 class="text-uppercase fw-bold text-accent mb-4">Información</h5>
        <ul class="list-unstyled">
          <li class="mb-3"><a href="#" class="text-white text-decoration-none">Nosotros</a></li>
          <li class="mb-3"><a href="#" class="text-white text-decoration-none">Nuestras Tiendas</a></li>
          <li class="mb-3"><a href="#" class="text-white text-decoration-none">Contáctanos</a></li>
        </ul>
      </div>

      <!-- Ayuda -->
      <div class="col-6 col-md-3">
        <h5 class="text-uppercase fw-bold text-accent mb-4">Ayuda</h5>
        <ul class="list-unstyled">
          <li class="mb-3"><a href="#" class="text-white text-decoration-none">Preguntas frecuentes</a></li>
          <li class="mb-3"><a href="#" class="text-white text-decoration-none">Términos y condiciones</a></li>
          <li class="mb-3"><a href="#" class="text-white text-decoration-none">Política de privacidad</a></li>
        </ul>
      </div>

      <!-- Contacto -->
      <div class="col-12 col-md-3">
        <h5 class="text-uppercase fw-bold text-accent mb-4">Contacto</h5>
        <div class="d-flex mb-3">
          <a href="" class="text-white me-3"><i class="bi bi-facebook fs-4"></i></a>
          <a href="https://www.instagram.com/peruviansecom?igsh=MTB2bjNyazJudmNkdg==" target="_blank" class="text-white me-3"><i class="bi bi-instagram fs-4"></i></a>        </div>
        <p class="mb-2"><i class="bi bi-whatsapp me-2"></i>+51 916 238 316</p>
        <p class="mb-0"><i class="bi bi-envelope me-2"></i>peruvianecom&#64;gmail.com</p>
      </div>

    </div>
  </div>

  <!-- Fondo decorativo -->
  <div class="footer-bg position-absolute top-0 start-0 w-100 h-100 opacity-10" style="z-index: 1;"></div>
</footer>
