
.chicha-navbar-minimal {
  background: #fff;
}



.fire-gradient {
  background: linear-gradient(90deg, #FFA800, #D90076);
 color: white;
  font-weight: bold;
 
  white-space: nowrap;
}
 
 
 .scroll {
  width: 100%;
  overflow: hidden;
  background-color: #8d48cd;
  
  animation: bannerGradient 10s ease infinite;
  color: #000;
 
  
  padding: 5px;
}
.scroll-track {
    display: flex;
    width: max-content;
    animation: scroll 250s linear infinite;
  gap: 10px;
}

@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
}


.header-container {
  justify-content: evenly;
  padding: 0;
  
}

@media (max-width: 767.98px) {
  .header-container {
    justify-content: space-between ;
    padding: 0 1rem;
  }
}





.btn-finalizar-compra {
  background: #27c04a;
  color: #fff;
  font-weight: 600;
  padding: 12px 16px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  transition:  0.3s ease, transform 0.1s ease;
  box-shadow: 0 4px 10px rgba(40, 167, 69, 0.3);
}

.btn-finalizar-compra:hover {
  background: linear-gradient(135deg, #218838, #1e7e34);
  transform: scale(1.02);
  box-shadow: 0 6px 12px rgb(31, 183, 64);
}




header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Asegura que esté por encima del contenido */
  background-color: white; /* o el color que uses para el header */
}

.cantidad-box {
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 140px;
  height: 36px;
}

.cantidad-btn {
  background: none;
  border: none;
  font-size: 1.2rem;
  color: #333;
  padding: 0 8px;
  cursor: pointer;
}

.cantidad-btn:focus {
  outline: none;
  box-shadow: none;
}


.offcanvas-body .nav-link {
  padding: 10px 0;
  font-size: 1.1rem;
  color: #333;
  
}

.offcanvas-body .nav-link:hover {
  color: #56ab2f;
  text-decoration: none;
}

.offcanvas-header{
  background:  linear-gradient(to right, #a8e063, #56ab2f);
}




.input-group {
  display: flex;
  align-items: center;
  border: 1px solid #ced4da;
  border-radius: 15px;
  background-color: white;
  overflow: hidden;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}



.search-input {
  border: none;
  padding: 0.5rem 1rem;
    border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #f9f9f9;
  flex: 1; /* que ocupe todo el espacio disponible */
  min-width: 0; /* evita que cause desbordes en flexbox */
  transition: box-shadow 0.3s ease;
}
.search-icon-rounded {
  background: #ffe600;
  padding: 6px 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.search-input:focus  {
  outline: none;
  border-color: #8d48cd;
  box-shadow: none;
}

.input-group:focus-within {
  border-color: #8d48cd;
  box-shadow: 0 0 0 0.1rem rgba(141, 72, 205, 0.2); /* opcional */
}

.icon-hover {

  transition: color 0.2s ease, transform 0.2s ease;
}

.icon-hover:hover {
  transform: scale(1.1);
  cursor: pointer;
}


.menu-icon i {
  font-size: 1.5rem;         /* Tamaño del ícono */
  line-height: 1;          /* Ajuste vertical */
  color: #212529;
  text-shadow: 0 0 1px #000;
  transition: transform 0.2s ease;
}

.menu-icon i:hover {
  transform: scale(1.1);
  color: #8d48cd;
}



/* Hover verde cálido */
  .navbar-nav .nav-link {
    color: #333;
    transition: color 0.3s ease;
  }

  .navbar-nav .nav-link:hover {
    color: #8d48cd ;
  }

 

  




@keyframes bannerGradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}



.category-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}


.category-item:hover,
.category-item.active {
  background-color: #ffe6003d;
  color: #c5006e;
  font-weight: 600;
}


.products-list li a:hover {
  background-color: #fcd34d;
  border-radius: 4px;
}