<header class="fire-gradient  shadow-sm">
  <div class="scroll">
      <div class="scroll-track ">
        <!-- Repite suficientes veces para cubrir el ancho y duplica para el ciclo -->
        <div class="carrusel-item">ENVIOS GRATIS A TODO EL PERÚ</div>
        <div class="carrusel-item">ENVIOS GRATIS A TODO EL PERÚ </div>
        <div class="carrusel-item">ENVIOS GRATIS A TODO EL PERÚ</div>
        <div class="carrusel-item">ENVIOS GRATIS A TODO EL PERÚ </div>
        <div class="carrusel-item">ENVIOS GRATIS A TODO EL PERÚ</div>
        <div class="carrusel-item">ENVIOS GRATIS A TODO EL PERÚ</div>
        <div class="carrusel-item">ENVIOS GRATIS A TODO EL PERÚ</div>
        <div class="carrusel-item">ENVIOS GRATIS A TODO EL PERÚ</div>
        <div class="carrusel-item">ENVIOS GRATIS A TODO EL PERÚ</div>
        <div class="carrusel-item">ENVIOS GRATIS A TODO EL PERÚ</div>
        <div class="carrusel-item">ENVIOS GRATIS A TODO EL PERÚ</div>
        <div class="carrusel-item">ENVIOS GRATIS A TODO EL PERÚ</div>
        <!-- Duplicados para efecto infinito -->
        <div class="carrusel-item">ENVIOS GRATIS A TODO EL PERÚ</div>
        <div class="carrusel-item">ENVIOS GRATIS A TODO EL PERÚ</div>
        <div class="carrusel-item">ENVIOS GRATIS A TODO EL PERÚ</div>
        <div class="carrusel-item">ENVIOS GRATIS A TODO EL PERÚ</div>
        <div class="carrusel-item">ENVIOS GRATIS A TODO EL PERÚ</div>
        <div class="carrusel-item">ENVIOS GRATIS A TODO EL PERÚ</div>
        <div class="carrusel-item">ENVIOS GRATIS A TODO EL PERÚ</div>
        <div class="carrusel-item">ENVIOS GRATIS A TODO EL PERÚ</div>
        <div class="carrusel-item">ENVIOS GRATIS A TODO EL PERÚ</div>
        <div class="carrusel-item">ENVIOS GRATIS A TODO EL PERÚ</div>
        <div class="carrusel-item">ENVIOS GRATIS A TODO EL PERÚ</div>
        <div class="carrusel-item">ENVIOS GRATIS A TODO EL PERÚ</div>
      </div>
    </div>




  <div class="px-1 py-1">
    <div class="d-flex align-items-center justify-content-evenly header-container">
      
      <!-- Logo y hamburguesa -->
     <!-- HEADER -->
<div class="d-flex align-items-center">

    <button class="navbar-toggler d-md-none me-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu"
    aria-controls="offcanvasMenu" aria-label="Toggle navigation">
    <i class="bi bi-list fs-1"></i>
  </button>
   <!-- Ícono de menú (solo en escritorio) como dropdown -->
    <div class="dropdown d-none d-md-block ">
      <button 
        class="nav-link btn btn-link p-0 d-flex align-items-center menu-icon me-3"
        id="menuDropdown"
        data-bs-toggle="dropdown"
        aria-expanded="false"
        type="button"
      >
        <i class="bi bi-list fs-2"></i>
        <span style="font-weight: 200px;font-size: 1.5rem;margin-left: 10px;">Menú</span>
      </button>

      <div class="dropdown-menu custom-width p-3" aria-labelledby="menuDropdown" style="width: 98vw;height: 50vh;
      background-color: #fffffff2;"
      (mouseleave)="ocultarProductos()">
  <div class="d-flex">

    <!-- Categorías (izquierda) -->
    <ul class="list-unstyled me-4 categories-menu" style="width: 40%;">
      <h2>CATEGORIAS</h2>
      <li 
      class="category-item" data-products="products-gomugomix" 
      (mouseenter)="mostrarProductos('gomugomix')"
      [ngClass]="{ 'active': activeCategory === 'gomugomix' }"
       [routerLink]="['/','gomitas']">
        Gomugomix<i class="bi bi-chevron-right ms-5"></i>
      </li>
      <li 
      class="category-item" data-products="products-aceites"
      (mouseenter)="mostrarProductos('aceites')"
      [ngClass]="{ 'active': activeCategory === 'aceites' }"
       [routerLink]="['/','aceites']">
        Aceites<i class="bi bi-chevron-right"></i>
      </li>
      <li class="category-item" data-products="products-polvo" 
        (mouseenter)="mostrarProductos('batidos')"
        [ngClass]="{ 'active': activeCategory === 'batidos' }"
        [routerLink]="['/','batidos']">
          Batidos<i class="bi bi-chevron-right"></i>
        </li>
      <li class="category-item" data-products="products-capsulas"
      (mouseenter)="mostrarProductos('capsulas')"
      [ngClass]="{ 'active': activeCategory === 'capsulas' }"
         [routerLink]="['/','suplementos']" >
        Suplementos<i class="bi bi-chevron-right"></i></li>
    </ul>

    <!-- Productos (derecha) -->
    <div class="products-list" style="width: 60%; min-height: 200px; border-left: 1px solid #ddd; padding-left: 20px;">
        <ul *ngIf="activeCategory === 'gomugomix'" class="products list-unstyled ">
          <h3>Gomitas</h3>
            <li><a routerLink="gomugomix-prod1" class="dropdown-item">Colageno</a></li>
            <li><a routerLink="gomugomix-prod2" class="dropdown-item">Omega 3 en 1</a></li>
             <li><a routerLink="gomugomix-prod2" class="dropdown-item">Sleep</a></li>
        </ul>

      <ul *ngIf="activeCategory === 'aceites'" class="products list-unstyled ">
        <h3>Aceites</h3>
        <li><a routerLink="aceite-prod1" class="dropdown-item">Semillas de Oregano</a></li>
        <li><a routerLink="aceite-prod2" class="dropdown-item">Romero</a></li>
      </ul>

      <ul *ngIf="activeCategory === 'polvo'" class="products list-unstyled ">
         <h3>Polvo</h3>
        <li><a routerLink="polvo-prod1" class="dropdown-item">Carticolageno</a></li>
       
      </ul>

      <ul *ngIf="activeCategory === 'capsulas'" class="products list-unstyled ">
        <h3>Capsulas</h3>        
        <li><a routerLink="capsulas-prod1" class="dropdown-item">Melena de León</a></li>
        <li><a routerLink="capsulas-prod2" class="dropdown-item">Moringa</a></li>
        <li><a routerLink="capsulas-prod2" class="dropdown-item">Cartilago de Tiburón</a></li>
        <li><a routerLink="capsulas-prod2" class="dropdown-item">Blood Sugar</a></li>
      </ul>
    </div>
    

  </div>
      </div>

    </div>
  
  <!-- Logo -->
  <a routerLink="/" class="d-inline-block">
    <img src="logo (2).png" loading="lazy" alt="Logo" width="160" height="65">
  </a>
 
    
</div>

<!-- OFFCANVAS MENU -->
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasMenu" aria-labelledby="offcanvasMenuLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasMenuLabel">Menú</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Cerrar"></button>
  </div>
  <div class="offcanvas-body">
    <ul class="list-unstyled">
      <li><a routerLink="/" data-bs-dismiss="offcanvas" class="nav-link border-bottom d-flex justify-content-between align-items-center">INICIO<i class="bi bi-chevron-right  text-success fs-2"></i></a></li>
       <li><a [routerLink]="['/','gomitas']" data-bs-dismiss="offcanvas" class="nav-link border-bottom nav-link d-flex justify-content-between align-items-center">SUPLEMENTOS EN GOMITAS <i class="bi bi-chevron-right text-success fs-2"></i></a></li>
      <li><a [routerLink]="['/','aceites']" data-bs-dismiss="offcanvas" class="nav-link border-bottom d-flex justify-content-between align-items-center">ACEITES NATURALES<i class="bi bi-chevron-right text-success fs-2"></i></a></li>
      <li><a [routerLink]="['/','batidos']" data-bs-dismiss="offcanvas" class="nav-link border-bottom d-flex justify-content-between align-items-center">SUPLEMENTOS EN POLVO<i class="bi bi-chevron-right text-success fs-2"></i></a></li>
      <li><a [routerLink]="['/','suplementos']" data-bs-dismiss="offcanvas" class="nav-link border-bottom d-flex justify-content-between align-items-center">SUPLEMENTOS EN CAPSULAS<i class="bi bi-chevron-right text-success fs-2"></i></a></li>
     
    </ul>
  </div>
</div>



     
      <!-- Barra de búsqueda -->
     <form class="d-none d-md-flex mx-4 w-50">
      <div class="input-group w-100 no-gap">
        <span class="search-icon-rounded">
          <i class="bi bi-search-heart fs-5" style="color: rgba(80, 17, 198, 0.383);"></i>
        </span>
        <input class=" search-input  " type="search" placeholder="¿Qué estás buscando hoy?" aria-label="Buscar">
      </div>
    </form>

      <!-- Íconos -->
      <div class="d-flex align-items-center gap-3">
        <a routerLink="/perfil"><i class="bi bi-person fs-3 icon-hover"></i></a>
        <a routerLink="/favoritos"><i class="bi bi-heart fs-3 icon-hover"></i></a>
        <a type="button" class="position-relative" data-bs-toggle="offcanvas" data-bs-target="#offcanvasCarrito" aria-controls="offcanvasCarrito" ><i class="bi bi-cart fs-3 icon-hover "></i>

          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-dark">
          {{cartCount}}
          <span class="visually-hidden">unread messages</span>
        </span>
        </a>
      </div>
        <!-- Offcanvas del carrito -->
   <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasCarrito" #offcanvasRef aria-labelledby="offcanvasCarritoLabel">
  <div class="offcanvas-header">
    <h5 id="offcanvasCarritoLabel">Carrito</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Cerrar"></button>
  </div>

  <!-- Contenedor con scroll -->
  <div class="offcanvas-body p-0">
    <div class="productos-scroll px-3 py-2">
      <div *ngFor="let producto of productosEnCarrito" class="mb-3 border rounded p-2 position-relative">
        
        <div class="d-flex  gap-3 ">
          <!-- Imagen -->
          <div style="width: 120px; height: 120px; flex-shrink: 0;">
            <img [src]="producto.img" class="img-fluid rounded" alt="producto" style="object-fit: cover; width: 100%; height: 100%;">
          </div>

          <!-- Información -->
          <div class="flex-grow-1">
    <div class="d-flex justify-content-between align-items-start gap-2">
      <div>
        <strong>{{ producto.nombre }}</strong><br>
        <small class="text-muted">{{ producto.tienda }}</small>
      </div>
      <div class="cursor-pointer">
       <button type="button" class="btn p-0 border-0 bg-transparent" (click)="eliminarProducto(producto)" aria-label="Eliminar producto">
        <i class="bi bi-trash3-fill fs-5 text-danger"></i>
      </button>

      </div>
    </div>

    <!-- Contador de cantidad -->
    <div class="cantidad-box d-flex align-items-center justify-content-between my-1 px-2 py-1">
      <button class="cantidad-btn" (click)="disminuirCantidad(producto)">−</button>
      <span>{{ producto.cantidad }}</span>
      <button class="cantidad-btn" (click)="aumentarCantidad(producto)">+</button>
    </div>

    S/. {{ producto.precio | number:'1.2-2' }}<br>
  </div>
           <!-- Tachito arriba -->
          
        </div>
        
      </div>
    </div>
  </div>

  <!-- Resumen fijo abajo -->
  <div class="resumen-footer border-top bg-white p-3">
    <div class="d-flex justify-content-between">
      <span>Subtotal:</span>
      <span>S/. {{ calcularSubtotal() | number:'1.2-2' }}</span>
    </div>
    <div class="d-flex justify-content-between">
      <span>Descuento:</span>
      <span>S/. {{ calcularDescuento() | number:'1.2-2' }} </span>
    </div>
    <hr class="my-2">
    <div class="d-flex justify-content-between fw-bold">
      <span>Total:</span>
      <span>S/. {{ calcularTotal() | number:'1.2-2' }}</span>
    </div>
  </div>
        <!-- Botón estilizado -->
<div class="d-grid mt-3 p-2">
  <button class="btn btn-finalizar-compra">
    🛒 Finalizar compra
  </button>
</div>

</div>



    </div>
  </div>

  <nav class="navbar navbar-expand-md  "  style="background-color: #f7f7f7;">
  <div class="container-fluid">

    <!-- Menú colapsable -->
   <div class="collapse navbar-collapse justify-content-center" id="mainNavbar">
  <ul class="navbar-nav flex-row gap-4 d-none d-md-flex align-items-center">
    <!-- Secciones del centro -->
    <li class="nav-item">
      <a [routerLink]="['mas-vendidos']" class="nav-link"><strong>MÁS VENDIDO</strong> </a>
    </li>
    <li class="nav-item">
      <a [routerLink]="['mas-nuevos']" class="nav-link"><strong>NOVEDADES</strong> </a>
    </li>
    <li class="nav-item">
      <a routerLink="blog" class="nav-link"><strong>BLOG</strong> </a>
    </li>
    <li class="nav-item">
      <a routerLink="" class="nav-link"><strong>PROMOCIONES</strong> </a>
    </li>
    <li class="nav-item">
      <a routerLink="contactanos" class="nav-link"><strong>CONTÁCTANOS</strong> </a>
    </li>
  </ul>
</div>



    <!-- Búsqueda en móvil -->
    <form class="d-md-none w-100 mt-3">
      <div class="input-group w-100 no-gap">
        <span class="search-icon-rounded">
          <i class="bi bi-search"></i>
        </span>
        <input class="form-control search-input p-2" type="search" placeholder="¿Qué estás buscando hoy..." aria-label="Buscar">
      </div>
    </form>

  </div>
  </nav>


</header>
