<div id="carouselInicio" class="carousel slide mb-5 d-none d-md-block" data-bs-ride="carousel">
  <!-- Indicadores -->
  <!-- Indicadores para escritorio -->
<div class="carousel-indicators d-none d-md-flex">
  <button type="button" data-bs-target="#carouselInicio" data-bs-slide-to="0" class="active" aria-label="Slide 1"></button>
  <button type="button" data-bs-target="#carouselInicio" data-bs-slide-to="1" aria-label="Slide 2"></button>
  <button type="button" data-bs-target="#carouselInicio" data-bs-slide-to="2" aria-label="Slide 3"></button>
  <button type="button" data-bs-target="#carouselInicio" data-bs-slide-to="3" aria-label="Slide 4"></button>
  <button type="button" data-bs-target="#carouselInicio" data-bs-slide-to="4" aria-label="Slide 5"></button>
  <button type="button" data-bs-target="#carouselInicio" data-bs-slide-to="5" aria-label="Slide 6"></button>
  <button type="button" data-bs-target="#carouselInicio" data-bs-slide-to="6" aria-label="Slide 7"></button>
</div>




  <!-- Slides -->
  <div class="carousel-inner">

    <!-- Slide 1 -->
    <!-- Slide 1 (activo) -->
    <div class="carousel-item active">
      <div [routerLink]="['productos','cyber-wow']" class="carousel-img-container full-width">
        <img src="imagenes/banner1.jpg" class="d-block carousel-img" alt="banner1">
        <button class="btn-lo-quiero">Lo quiero</button>
      </div>
    </div>


    <!-- Slide 2 -->
    <div class="carousel-item ">
      <div class="d-flex">
        <div  class="carousel-img-container half-width">
          <img src="imagenes/promocionBloodSugar.jpg" class="d-block carousel-img" alt="promocionColageno">
          <button class="btn-lo-quiero">Lo quiero</button>
        </div>
        <div class="carousel-img-container half-width">
          <img src="imagenes/promocionOregano.jpg" class="d-block carousel-img" alt="promocionCarticolageno">
          <button class="btn-lo-quiero">Lo quiero</button>
        </div>
      </div>
    </div>

    <!-- Slide 3 -->
    <div class="carousel-item ">
      <div class="d-flex">
        <div class="carousel-img-container half-width">
          <img src="imagenes/promocionColageno.jpg" class="d-block carousel-img" alt="promocionRomero">
          <button class="btn-lo-quiero">Lo quiero</button>
        </div>
        <div class="carousel-img-container half-width">
          <img src="imagenes/promocionOmega.jpg" class="d-block carousel-img" alt="promocion2Colageno">
          <button class="btn-lo-quiero">Lo quiero</button>
        </div>
      </div>
    </div>


     <!-- Slide 4  -->
    <div class="carousel-item ">
      <div class="d-flex">
        <div class="carousel-img-container half-width">
          <img src="imagenes/promocion2Melena.jpg" class="d-block carousel-img" alt="promocionCartilago">
          <button class="btn-lo-quiero">Lo quiero</button>
        </div>
        <div class="carousel-img-container half-width">
          <img src="imagenes/promocion3Colageno.jpg" class="d-block carousel-img" alt="promocionCartical">
          <button class="btn-lo-quiero">Lo quiero</button>
        </div>
      </div>
    </div>


    <div class="carousel-item ">
      <div class="d-flex">
        <div class="carousel-img-container half-width">
          <img src="imagenes/promocionSleep.jpg" class="d-block carousel-img" alt="promocionCartilago">
          <button class="btn-lo-quiero">Lo quiero</button>
        </div>
        <div class="carousel-img-container half-width">
          <img src="imagenes/promocion3BloodSugar.jpg" class="d-block carousel-img" alt="promocionCartical">
          <button class="btn-lo-quiero">Lo quiero</button>
        </div>
      </div>
    </div>
     <!-- Slide 5 -->
    <div class="carousel-item ">
      <div class="d-flex">
        <div class="carousel-img-container half-width">
          <img src="imagenes/promocion2Colageno.jpg" class="d-block carousel-img" alt="promocionCartilago">
          <button class="btn-lo-quiero">Lo quiero</button>
        </div>
        <div class="carousel-img-container half-width">
          <img src="imagenes/promocion3Omega.jpg" class="d-block carousel-img" alt="promocionCartical">
          <button class="btn-lo-quiero">Lo quiero</button>
        </div>
      </div>
    </div>

    <!-- Slide 6 -->
  <div class="carousel-item ">
      <div class="d-flex">
        <div class="carousel-img-container half-width">
          <img src="imagenes/promocionMelena.jpg" class="d-block carousel-img" alt="promocionCartilago">
          <button class="btn-lo-quiero">Lo quiero</button>
        </div>
        <div class="carousel-img-container half-width">
          <img src="imagenes/promocion2Sleep.jpg" class="d-block carousel-img" alt="promocionCartical">
          <button class="btn-lo-quiero">Lo quiero</button>
        </div>
      </div>
    </div>

    <!-- Móviles -->
    


  </div>

  <!-- Controles -->
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselInicio" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Anterior</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselInicio" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Siguiente</span>
  </button>
</div>





<div id="carouselInicioMobile" class="carousel slide mb-5 d-block d-md-none" data-bs-ride="carousel">
  <!-- Indicadores para móviles -->
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselInicioMobile" data-bs-slide-to="0" class="active" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselInicioMobile" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselInicioMobile" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselInicioMobile" data-bs-slide-to="3" aria-label="Slide 4"></button>
    <button type="button" data-bs-target="#carouselInicioMobile" data-bs-slide-to="4" aria-label="Slide 5"></button>
    <button type="button" data-bs-target="#carouselInicioMobile" data-bs-slide-to="5" aria-label="Slide 6"></button>
    <button type="button" data-bs-target="#carouselInicioMobile" data-bs-slide-to="6" aria-label="Slide 7"></button>
    <button type="button" data-bs-target="#carouselInicioMobile" data-bs-slide-to="7" aria-label="Slide 8"></button>
    <button type="button" data-bs-target="#carouselInicioMobile" data-bs-slide-to="8" aria-label="Slide 9"></button>
    <button type="button" data-bs-target="#carouselInicioMobile" data-bs-slide-to="9" aria-label="Slide 10"></button>
    <button type="button" data-bs-target="#carouselInicioMobile" data-bs-slide-to="10" aria-label="Slide 11"></button>
    <button type="button" data-bs-target="#carouselInicioMobile" data-bs-slide-to="11" aria-label="Slide 12"></button>
    <button type="button" data-bs-target="#carouselInicioMobile" data-bs-slide-to="12" aria-label="Slide 13"></button>
  </div>

  <div class="carousel-inner">
    <!-- Slide 1 -->
    <div class="carousel-item active">
      <div [routerLink]="['productos','cyber-wow']" class="carousel-img-container full-width">
        <img src="imagenes/banner1.jpg" class="d-block carousel-img" alt="banner1">
        <button class="btn-lo-quiero">Lo quiero</button>
      </div>
    </div>

    <!-- Slide 2 -->
    <div class="carousel-item">
      <div class="carousel-img-container full-width">
        <img src="imagenes/promocionBloodSugar.jpg" class="d-block carousel-img" alt="promocionBloodSugar">
        <button class="btn-lo-quiero">Lo quiero</button>
      </div>
    </div>

    <!-- Slide 3 -->
    <div class="carousel-item">
      <div class="carousel-img-container full-width">
        <img src="imagenes/promocionOregano.jpg" class="d-block carousel-img" alt="promocionOregano">
        <button class="btn-lo-quiero">Lo quiero</button>
      </div>
    </div>

    <!-- Slide 4 -->
    <div class="carousel-item">
      <div class="carousel-img-container full-width">
        <img src="imagenes/promocionColageno.jpg" class="d-block carousel-img" alt="promocionColageno">
        <button class="btn-lo-quiero">Lo quiero</button>
      </div>
    </div>

    <!-- Slide 5 -->
    <div class="carousel-item">
      <div class="carousel-img-container full-width">
        <img src="imagenes/promocionOmega.jpg" class="d-block carousel-img" alt="promocionOmega">
        <button class="btn-lo-quiero">Lo quiero</button>
      </div>
    </div>

    <!-- Slide 6 -->
    <div class="carousel-item">
      <div class="carousel-img-container full-width">
        <img src="imagenes/promocion2Melena.jpg" class="d-block carousel-img" alt="promocion2Melena">
        <button class="btn-lo-quiero">Lo quiero</button>
      </div>
    </div>

    <!-- Slide 7 -->
    <div class="carousel-item">
      <div class="carousel-img-container full-width">
        <img src="imagenes/promocion3Colageno.jpg" class="d-block carousel-img" alt="promocion3Colageno">
        <button class="btn-lo-quiero">Lo quiero</button>
      </div>
    </div>

    <!-- Slide 8 -->
    <div class="carousel-item">
      <div class="carousel-img-container full-width">
        <img src="imagenes/promocionSleep.jpg" class="d-block carousel-img" alt="promocionSleep">
        <button class="btn-lo-quiero">Lo quiero</button>
      </div>
    </div>

    <!-- Slide 9 -->
    <div class="carousel-item">
      <div class="carousel-img-container full-width">
        <img src="imagenes/promocion3BloodSugar.jpg" class="d-block carousel-img" alt="promocion3BloodSugar">
        <button class="btn-lo-quiero">Lo quiero</button>
      </div>
    </div>

    <!-- Slide 10 -->
    <div class="carousel-item">
      <div class="carousel-img-container full-width">
        <img src="imagenes/promocion2Colageno.jpg" class="d-block carousel-img" alt="promocion2Colageno">
        <button class="btn-lo-quiero">Lo quiero</button>
      </div>
    </div>

    <!-- Slide 11 -->
    <div class="carousel-item">
      <div class="carousel-img-container full-width">
        <img src="imagenes/promocion3Omega.jpg" class="d-block carousel-img" alt="promocion3Omega">
        <button class="btn-lo-quiero">Lo quiero</button>
      </div>
    </div>

    <!-- Slide 12 -->
    <div class="carousel-item">
      <div class="carousel-img-container full-width">
        <img src="imagenes/promocionMelena.jpg" class="d-block carousel-img" alt="promocionMelena">
        <button class="btn-lo-quiero">Lo quiero</button>
      </div>
    </div>

    <!-- Slide 13 -->
    <div class="carousel-item">
      <div class="carousel-img-container full-width">
        <img src="imagenes/promocion2Sleep.jpg" class="d-block carousel-img" alt="promocion2Sleep">
        <button class="btn-lo-quiero">Lo quiero</button>
      </div>
    </div>

  </div>

  <!-- Controles -->
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselInicioMobile" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Anterior</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselInicioMobile" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Siguiente</span>
  </button>
</div>
